<div class="col-md-3 col-md-offset-3">
<form ng-submit="createUser(user)">
  <div class="form-group">
    <input type="text" class="form-control" ng-model="user.username" placeholder="用户名">
    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="user.mobile" placeholder="手机号码">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="user.nick" placeholder="昵称">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" ng-model="user.password" placeholder="密码">
    <!-- <p class="help-block">Example block-level help text here.</p> -->
  </div>
  <div class="form-group">
    <input type="password" class="form-control" ng-model="user.confirmPwd" placeholder="验证">
  </div>
  <div>
    <button type="submit" class="btn btn-primary" style="margin-right:3em;">注    册</button>
    我已经注册过账户 <a style="cursor:pointer;" ui-sref="login">请登录</a>
  </div>
</form>
</div>
