<!-- <div class="main container-fluid">
  <h1>Things</h1>
  <form ng-submit="save()" name="form" novalidate="" class="thing-form">
    <p class="input-group">
      <input type="text" placeholder="Name" ng-model="newThing.name" class="form-control"/><span class="input-group-btn">
        <input type="submit" value="Add" class="btn btn-primary"/></span>
    </p>
  </form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group pull-right col-md-3 col-sm-12">
        <input type="search" ng-model="search" placeholder="Search" class="form-control"/>
        <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
          <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-click="orderProperty='1'">Ascending</li>
            <li ng-click="orderProperty='-1'">Descending</li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="thing in things | itemsPerPage: perPage" total-items="thingsCount.count">
          <p>{{ thing.name }}
            <button ng-click="remove(thing)" class="btn">&times;</button>
          </p>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
  <p>Total number of things: {{thingsCount.count}}</p>
</div> -->
<div class="row" style="margin-top:-15px;">
  <div class="col-md-2">
    <div class="list-group">
      <a class="list-group-item" style="background-color:black;color:white;cursor:pointer;" ui-sref="newMessage">
        新消息
        <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
      </a>
      <a href="#" class="list-group-item">
        <span class="badge">18</span>收件箱
      </a>
      <a href="#" class="list-group-item">
        已发送
      </a>
      <a href="#" class="list-group-item">
        已删除
      </a>
    </div>
    <div class="list-group" style="margin-top:-15px;">
      <a class="list-group-item" style="background-color:black;color:white;cursor:pointer;" ui-sref="contacts">
        短讯
        <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
      </a>
      <a href="#" ui-sref="nearestContacts" class="list-group-item">
        最近短讯
      </a>
      <a href="#" ui-sref="allContacts" class="list-group-item">
         我的联系人
      </a>
    </div>
  </div>
</div>
